@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-general-sans: 'General Sans', sans-serif;
    --font-satoshi: 'Satoshi', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    @apply bg-white text-gray-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  @media (prefers-color-scheme: dark) {
    html, body {
      color-scheme: dark;
      @apply bg-gray-950 text-gray-100;
    }
  }
}
